img.logo {
	width: 250px;
}
ul.nav.justify-content-end {
	margin-top: 25px;
}
.table {
	margin-top: 30px;
}

table .btn {
	margin-right: 5px;
}
div.nav-top {
	padding: 10px;
	margin-bottom: 50px;
	border-bottom: 1px solid #e7e7e7;
}
.menu-lateral {
	margin-top: 50px;
}
.menu-lateral .title {
	font-size: 20px;
	font-weight: 600;
}
ul.menu {
	list-style: none;
	padding-left: 0px;
}

ul.menu li {
	padding: 10px;
	padding-left: 0px;
	background-color: #f5f5f5;
	border-bottom: 2px solid #38adf8;
}

ul.menu li {
	padding-left: 20px;
	font-weight: 600;
	font-size: 18px;
}

.alert {
	display: none;
	position: fixed;
	top: 10px;
	width: 90%;
	z-index: 10;
}
.alert.active {
	display: block;
}

img.logo-index {
	width: 200px;
}
.navbar.top {
    background-color: #74747466;
    position: fixed;
	width: 100%;
	z-index: 100;
}

.container.w100 {
	max-width: 1700px;
	padding-right: 0px;
	padding-left: 0px;
}
.background {
	width: 100%;
}

.footer {
	padding: 40px;
	background-color: #3e3e3e;
	color: #b0b0b0;
}

.footer svg {
	font-size: 20px;
	margin-right: 10px
}

.footer .fa-facebook {
	color: #5d95e9;
}
.footer .fa-instagram {
	color: #f98673;
}

.footer .siga-nos {
	float: right;
}

.descricao {
    position: absolute;
    top: 300px;
    color: #fff;
    padding: 15px;
    background-color: #57575766;
}

.card-columns {
	padding: 50px 0px
}

td.buttons {
	padding: 10px 2px;
	width: 100px;
}